<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header>
    <div class="ui massive menu">
        <a class="item" th:href="@{/}">
            <i class="cube camera icon"></i>
            Simple UI
        </a>
        <a class="item" th:href="@{/public-page}">
            Public Page
        </a>
        <a class="item" th:href="@{/admin-page}"
           sec:authorize="hasRole('SIMPLE-UI-ADMIN')">
            Admin Page
        </a>
        <a class="item" th:href="@{/user-page}"
           sec:authorize="hasRole('SIMPLE-UI-USER')">
            User Page
        </a>
        <a class="item" th:href="@{/admin-user-page}"
           sec:authorize="hasAnyRole('SIMPLE-UI-ADMIN','SIMPLE-UI-USER')">
            Admin & User Page
        </a>
        <div class="right menu">
            <a class="ui item" th:href="@{/login}" sec:authorize="!isAuthenticated()">
                Login
            </a>
            <a class="ui item" sec:authentication="name" sec:authorize="isAuthenticated()">
            </a>
            <a class="ui item" th:href="@{/logout}" sec:authorize="isAuthenticated()">
                Logout
            </a>
        </div>
    </div>
</header>

</body>
</html>