<div class="tab-pane fade in show active" id="patients">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Full Name</th>
                <th>Tax Number</th>
                <th>Social Security Number</th>
                <th>Phone Number</th>
	            <th>Date</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the list of payments -->
            <tr th:each="payment : ${paymentsList}">
                <td th:text="${payment.fullName}"></td>
                <td th:text="${payment.taxNumber}"></td>
                <td th:text="${payment.socialSecurityNumber}"></td>
                <td th:text="${payment.phoneNumber}"></td>
                <td th:text="${payment.date}"></td>
                <td th:text="${payment.totalAmount}"></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <form method="POST" action="https://site.auth.com/oauth/token"> &lt;!&ndash;layout:fragment="bodyContent" depth&ndash;&gt; -->
<!--     <div class="container">         -->
<!--       <h1>Login</h1> -->
<!--       <label for="username">Username</label> -->
<!--       <input type="text" id="username" name="username"><br> -->
<!--       <label for="password">Password</label> -->
<!--       <input type="password" id="password" name="password"><br> -->
<!--       <input type="hidden" name="grant_type" value="code_authenticate"> -->
<!--       <input type="hidden" name="client_id" value="XEeJYNqbZT_mIra2qJrh-ibkU-8xbyYnRQUFDZy5"> -->
<!--       <input type="hidden" name="response_type" value="code"> -->
<!--       <input type="hidden" name="redirect_uri" value="https://site.client.com"> -->
<!--       <input type="submit" value="Login"> -->
<!--     </div> -->
<!-- </form> -->

<script>

		document.addEventListener('DOMContentLoaded', async () => {
			try {
				// Fetch OAuth2 token first
				const tokenResponse = await fetch('http://localhost:8080/realms/doctor-app-realm/protocol/openid-connect/token', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded',
					},
					body: new URLSearchParams({
						'grant_type': 'client_credentials',
						'client_id': 'doctor-app',
						'client_secret': '07YgTOkhoVLy8jrHs0wEIHGqcJHmgevs'
					}),
				});

				console.log("Part 1 Completed!")

				const tokenData = await tokenResponse.json();
				const accessToken = tokenData.access_token;

				// Fetch payment data using the obtained token
				const paymentResponse = await fetch('http://localhost:9999/api/payment/retrieve', {
					headers: {
						'Authorization': 'Bearer ' + accessToken,
						'Content-Type': 'application/json',
					},
				});

				const paymentData = await paymentResponse.json();
				updatePaymentsTab(paymentData);
			} catch (error) {
				console.log("Error: ", error);
			}
		});

	    var updatePaymentsTab = (paymentsList) => {
		    const paymentsTabContent = document.getElementById('payments');

		    paymentsTabContent.innerHTML = '';

		    const table = document.createElement('table');
		    table.className = 'table table-bordered';
		    paymentsList.forEach(payment => {
			    const row = table.insertRow();
			    row.innerHTML = `
                    <td>${payment.fullName}</td>
                    <td>${payment.taxNumber}</td>
                    <td>${payment.socialSecurityNumber}</td>
                    <td>${payment.phoneNumber}</td>
                    <td>${payment.date}</td>
                    <td>${payment.totalAmount}</td>
                `;
		    });

		    paymentsTabContent.appendChild(table);
	    };
</script>