<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor App</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>

<div class="ui error message" th:if="${error}">
    <p th:text="${error}"></p>
</div>

<main>
    <div class="ui basic segment">
        <div class="ui huge center aligned header">
            Welcome to Doctor App
        </div>
    </div>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>

</body>
</html>