<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>My Doctor App</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">AFM</th>
            <th scope="col">AMKA</th>
            <th scope="col">Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="citizen: ${citizens}">
            <td th:text="${citizen.first}"/>
            <td th:text="${citizen.last}"/>
            <td th:text="${citizen.afm}"/>
            <td th:text="${citizen.amka}"/>
            <td th:text="${citizen.phone}"/>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>