<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/hover-icons.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css">
    <!-- Add Bootstrap Datepicker CSS and JS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          rel="stylesheet">
</head>
<body>

<!--<div th:replace="fragments/navbar"></div>-->

<!-- Display Thymeleaf error message in a Bootstrap alert -->
<div class="alert alert-danger mt-3" id="error-message" style="display: none;">
    <p></p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center text-primary" id="displayLocalStorageFullName"></h3>
            <form id="data-form">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Prescription Name</th>
                        <th>Date</th>
                        <th>
                            <button class="btn btn-primary" id="add-row" type="button">+</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="table-body">
                    <tr th:each="item : ${prescriptionsDetails}">
                        <td>
                            <!-- Bind the 'category' data -->
                            <select class="form-control" name="category">
                                <option th:each="category : ${categories}"
                                        th:selected="${category == item.category}"
                                        th:text="${category}"
                                        th:value="${category}"></option>
                            </select>
                        </td>
                        <td>
                            <!-- Bind the 'prescription' data -->
                            <select class="form-control" name="prescription">
                                <option th:each="prescription : ${prescriptions}"
                                        th:selected="${prescription == item.prescription}"
                                        th:text="${prescription}"
                                        th:value="${prescription}"></option>
                            </select>
                        </td>
                        <td>
                            <!-- Bind the 'date' data -->
                            <input class="form-control datepicker" name="date" th:value="${item.date}" type="text"/>
                        </td>
                        <td>
                            <button class="btn btn-danger delete-row" type="button">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-success" id="submit-button" style="display: none;" type="button">Submit</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script th:inline="javascript">
    const fullNameValue = localStorage.getItem("fullName")
    document.getElementById("displayLocalStorageFullName").textContent = "Patient Name: " + fullNameValue
    $(document).ready(function () {
        // Define a data structure with prescription options for each category
        var prescriptionData = {
            Cardiovascular: ["Echocardiogram", "Electrocardiogram (ECG or EKG)", "Stress Test", "Holter Monitor", "Cardiac Catheterization"],
            Respiratory: ["Pulmonary Function Test (PFT)", "Chest X-ray", "CT Scan of the Chest", "Bronchoscopy", "Sputum Culture"],
            Metabolic: ["HIV Test", "Hepatitis Panel", "STI Screening", "Tuberculin Skin Test (TST)", "COVID-19 PCR Test"],
            Cancer: ["Mammogram", "Pap Smear", "Colonoscopy", "Prostate-Specific Antigen (PSA) Test", "Skin Cancer Screening"],
            Gynecological: ["Pelvic Exam", "Breast MRI", "Transvaginal Ultrasound", "Prenatal Testing (Ultrasound)", "Hysteroscopy"],
            Andrological: ["Testosterone Level Test", "Prostate Biopsy", "Seminal Analysis", "Male Hormone Profile", "Erectile Function Assessment"],
            Pediatric: ["Pediatric Well-Child Visit", "Childhood Immunizations", "Developmental Screening", "Lead Screening", "Newborn Screening"],
            Geriatric: ["Geriatric Assessment", "Osteoarthritis Evaluation", "Dementia Screening", "Frailty Assessment", "Polypharmacy Review"],
        };

        // Function to populate the "Prescription Name" select options based on the selected category
        function populatePrescriptionOptions(selectedCategory) {
            var prescriptionSelect = $(this).closest('.table-row').find('select[name="prescription"]');
            prescriptionSelect.empty();
            var prescriptions = prescriptionData[selectedCategory] || [];
            prescriptions.forEach(function (prescription) {
                prescriptionSelect.append('<option value="' + prescription + '">' + prescription + '</option>');
            });
        }

        // Function to enable/disable the submit button based on the number of rows
        function updateSubmitButtonState() {
            var numRows = $('#table-body tr').length;
            var submitButton = $('#submit-button');

            if (numRows > 0) {
                // Show the submit button
                submitButton.css('display', 'block');
            } else {
                // Hide the submit button
                submitButton.css('display', 'none');
            }
        }

        // Call the function initially to set the initial state
        updateSubmitButtonState();

        // Function to add a new row to the table
        function addTableRow() {
            var newRow = '<tr class="table-row">' +
                '<td>' +
                '<select class="form-control" name="category">' +
                '<option value="Cardiovascular">Cardiovascular</option>' +
                '<option value="Respiratory">Respiratory</option>' +
                '<option value="Metabolic">Metabolic</option>' +
                '<option value="Cancer">Cancer</option>' +
                '<option value="Gynecological">Gynecological</option>' +
                '<option value="Andrological">Andrological</option>' +
                '<option value="Pediatric">Pediatric</option>' +
                '<option value="Geriatric">Geriatric</option>' +
                '</select>' +
                '</td>' +
                '<td>' +
                '<select class="form-control" name="prescription">' +
                '<option value="">Select Prescription</option>' + // Default option
                '</select>' +
                '</td>' +
                '<td>' +
                '<input class="form-control datepicker" type="text" name="date" />' +
                '</td>' +
                '<td>' +
                '<button type="button" class="btn btn-danger delete-row">-</button>' +
                '</td>' +
                '</tr>';
            $('#table-body').append(newRow);

            // Initialize the Datepicker for the new row
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });

            // Update the submit button state when adding a row
            updateSubmitButtonState();
        }

        // Event handler for adding rows
        $('#add-row').click(addTableRow);

        // Event handler for deleting rows
        $('#table-body').on('click', '.delete-row', function () {
            $(this).closest('tr').remove();
            // Update the submit button state when deleting a row
            updateSubmitButtonState();
        });

        // Event handler for category change
        $('#table-body').on('change', 'select[name="category"]', function () {
            var selectedCategory = $(this).val();
            populatePrescriptionOptions.call(this, selectedCategory);
        });

        // Event handler for form submission
        $('#submit-button').click(function () {
            //todo: replace
            var doctorId = localStorage.getItem("doctorId")
            var patientId = localStorage.getItem("patientId")
            var jsonDataArray = [];

            $('#table-body tr').each(function () {
                var row = $(this);
                var category = row.find('select[name="category"]').val();
                var prescription = row.find('select[name="prescription"]').val();
                var date = row.find('input[name="date"]').val();

                if (category || prescription || date) {
                    jsonDataArray.push({category: category, prescription: prescription, date: date});
                }
            });

            var postData = {
                doctorId: doctorId,
                patientId: patientId,
                prescriptionsInformation: jsonDataArray
            };

            console.log(JSON.stringify(postData))

            fetch('attachPrescription', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(postData),
            }).then((response) => {
                if (response.status === 200) {
                    console.log("Success");
                    window.close()
                } else if (response.status === 400) {
                    response.json().then((data) => {
                        // Check if there are errors in the JSON response
                        if (data.errors && data.errors.length > 0) {
                            // Display the error message
                            const errorMsg = "An error occurred for the Fields above: <br>"
                            $('#error-message p').html(errorMsg + data.errors.join("<br>"));
                            $('#error-message').show();
                        } else {
                            console.log("Bad Request");
                        }
                    }).catch((error) => {
                        console.log('Error parsing JSON:', error);
                    });
                }
            }).catch((error) => {
                console.error('Error adding comment:', error);
            });
        });
    });


</script>
</body>
</html>
